* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: #1c1e1f;
}
header {
  display: flex;
  background-color: #24292e;
  align-items: center;
  height: 9vh;
  width: 100%;
}
.header-content {
  display: flex;
  width: 99%;
  justify-content: space-between;
  margin: auto;
}
.left-content {
  display: flex;
  width: 50%;
  align-items: center;
}
/* .right-icons {
    margin-right: 20px;
  } */
.left-content .logo {
  height: 6vh;
  margin-right: 10px;
}
.nav-links > ul > li {
  list-style: none;
  font-weight: 500;
  padding-right: 15px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.nav-links > ul {
  display: flex;
  padding-left: 20px;
}

.search > form input {
  border: none;
  border-radius: 3px;
  background-color: #3f4448;
  width: 290px;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}
.search > form input::placeholder {
  padding-top: 30px;
  padding-left: 8px;
  color: #8c8f92;
}

.bell,
.plus,
.face {
  font-size: 14px;
  color: rgb(236, 235, 235);
}
.bell {
  padding: 15px;
}
.face {
  padding-left: 15px;
  font-size: 17px;
}
.dd {
  color: rgb(236, 235, 235);
  font-size: 12px;
}
